:root {
    --primary-color: #05ADA0;
    --secondary-color: #29C696;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.notification_banner {
    padding: 10px;
    background-color: var(--primary-color);
}
.notification_banner p {
    margin: 0;
    text-align: center;
    font-weight: 900;
    color: #FFFFFF;
}
.notification_banner a {
    background-color: transparent;
    color: #FFFFFF;
    transition: background-color 0.2s;
}
.notification_banner a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

header {
    padding: 15px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header img {
    width: 412px;
    height: 80px;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav li {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    background-color: transparent;
    transition: background-color 0.2s;
    color: #555555;
}
header nav li:hover {
    background-color: #DDDDDD;
}
header nav a {
    text-decoration: none;
}
/* max-width from img.width and nav.width */
@media screen and (max-width: 1200px) {
    header {
        justify-content: space-around;
    }
}

.img_slideshow {
    position: relative;
    display: flex;
    padding: 0 30px;
    height: 300px;
    background: linear-gradient(-135deg, var(--primary-color) , var(--secondary-color));
    overflow: hidden;
}
.img_slideshow button {
    display: block;
    position: absolute;
    z-index: 1;
    top: 25px;
    width: 40px;
    height: 250px;
    border: none;
    background: var(--primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.img_slideshow button:hover {
    background: #06D3C3;
    cursor: pointer;
}
.img_slideshow button:active {
    background: #037A70;
}
.img_slideshow .previous {
    left: 0;
}
.img_slideshow .next {
    right: 0;
}

.item {
    position: relative;
    width: 240px;
    height: 240px;
    margin-top: 30px;
    margin-right: 15px;
    background: #EEE;
    transition: width 0.2s, height 0.2s, margin-top 0.2s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.item.active {
    width: 270px;
    height: 270px;
    margin-top: 15px;
    cursor: auto;
}
.item img {
    display: block;
    width: inherit;
    height: inherit;
}
.item .cover {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s;
}
.item.active .cover {
    pointer-events: all;
    opacity: 1;
}
.item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 270px;
    color: #FFFFFF;
}
.item .description h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
}
.item .description p {
    font-size: 14px;
    margin-bottom: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
main .container {
    width: 50%;
    margin: 0;
}
main .container h2 {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
main .container abbr {
    text-decoration: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    background: linear-gradient(135deg, var(--primary-color) , var(--secondary-color));
}
footer .left {
    display: inline-block;
    width: 40%;
}
footer .right {
    display: inline-block;
    width: 60%;
}

.contact-btn {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-weight: bold;
    border: 1px solid #FFFFFF;
    transition: background-color 0.2s, color 0.2s;
}
.contact-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}
.contact address {
    margin-top: 10px;
}
.contact address a {
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
}
.contact address .symbol {
    font-size: 20px;
}

.links nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 0 30px;
    padding: 0;
    list-style-type: none;
}
.links nav a {
    display: inline-block;
    width: 13%;
    height: 40px;
    margin-right: 7%;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.links nav a:hover {
    text-decoration: underline;
}

.copyright p {
    margin: 0;
    font-size: 14px;
    color: #FFF;
}
.copyright a {
    color: #FFF;
    background-color: transparent;
    transition: background-color 0.2s;
}
.copyright a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
